
@font-face {
    font-family: 'iconfont';  /* project id 1062268 */
    src: url('//at.alicdn.com/t/font_1062268_abeprxdjsdr.eot');
    src: url('//at.alicdn.com/t/font_1062268_abeprxdjsdr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1062268_abeprxdjsdr.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1062268_abeprxdjsdr.woff') format('woff'),
    url('//at.alicdn.com/t/font_1062268_abeprxdjsdr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1062268_abeprxdjsdr.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

header{
    display: flex;
    height: 55px;
    line-height: 55px;
}

header > section{
    border: 1px solid black;
    display: flex;
}

.leftHeader{
    flex-grow: 1;
    padding-left: 45px;
    font-size: 1.5em;
}

.leftHeader .siteIcon{
    font-size: 1.5em;
}

.siteName{
    display: inline;
}

.middleHeader{
    flex-grow: 2;
    display: flex;
    padding: 0 40px;
    text-align: center;
}

.middleHeader div{
    flex-grow: 1;
}

.middleHeader a:hover{
    display: block;
    height: 100%;
    background-color: #EEEEEE;
    background-size: 30px;
    color: #38B7EB;
}

.rightHeader{
    flex-grow: 1;
    display: flex;
    padding: 0 50px;
    text-align: center;
    align-items: center;
}

.rightHeader div{
    flex-grow: 1;
}

.writeBlogHeader:hover{
    color: #E37F54;
}

.login, .register{
    height: 60%;
    line-height: initial;
    border: 1px solid black;
    display: table-cell;
}

.login, .register a{
    display: block;
}


